h1 {
    padding-left: 24px;
    color: teal;
    font-size: 1.6em;
}

pre {
    color: darkgreen;
}

#info {
    margin-left: 6px;
    color: gray;
}

.src-space > textarea {
    width: 100%;
    font-family: monospace;
    font-size: 14px;
    color: darkblue;
}

.btn-space > input {
    margin-top: 0.3em;
    margin-left: 0em;
    margin-right: 1.5em;
    border-radius: 0.5em;
    width: 8em;
    height: 2.5em;
}

#result {
    margin: 4px 0px;
    padding-left: 6px;
    color: darkslategray;
    background-color: ghostwhite;
    font-size: 1.2em;
}

.printline {
    padding-left: 6px;
    font-family: monospace;
    font-size: 14px;
}
