<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="numerical integration">
    <meta name="author" content="paul">
    <link rel="stylesheet" href="/public/contrib/css/bootstrap.css" type="text/css">
    <script src="/public/contrib/js/bootstrap.js"></script>
<!-- 
    <link rel="stylesheet" href="css/style.css" type="text/css">
 -->
    <title>Document</title>
</head>
