#head-model {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: teal;
    font-size: 20px;
}

#output {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px 15px;
    color: seagreen;
    font-size: 13px;
}

#table-out {
    margin-left: 12px;
    width: 96%;
    min-width: 800px;
}

#table-out thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: turquoise;
    color: teal;
}

#table-out tr.vpoint-data {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: left;
    font-family: monospace;
    font-size: 14px;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: turquoise;
}

#table-body {
    display: block;
    max-height: 30em;
    overflow-y: auto;
}

#stat {
    width: 99%;
    text-align: right;
    color: dimgray;
    font-family: monospace;
    font-size: 11px;
}

#form-init {
    margin-left: 12px;
    min-width: 720px;
}

span.vlabel {
    text-align: right;
    width: 96px;
    display: inline-block;
}

span.vselect input {
    margin: 2px;
}

span.vfield input {
    text-align: right;
    margin: 2px;
    font-family: monospace;
    font-size: 14px;
    color: blue;
}

span.vdata input {
    text-align: left;
    margin: 2px;
    font-family: monospace;
    font-size: 14px;
    color: slategrey;
}
